<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >

    <parameter name="password" value="aB123456"/>
    <parameter name="email1" value="house@mirmay.onmicrosoft.com"/>
    <parameter name="startUrl" value="https://vp-smc-qa.azurewebsites.net/Login"/>
    <parameter name="implicitlyWait.ms" value="30000"/>

    <test name="Regression1">
        <classes>
            <class name="com.smartcontact.demo.TestLandingPageRibbon" />
            <class name="com.smartcontact.demo.TestNewContact" />
        </classes>
    </test>
</suite>
